{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <title>Password Reset</title>
</head>
<body>
    <div class="reset-container">
        <form action="{% url 'system:password_reset' %}" method="post" class="reset-form">
            {% csrf_token %}
            <h2>Password Reset</h2>
            <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" name="email" required />
            </div>
            <input type="submit" class="btn" value="Reset Password" />
        </form>
    </div>
</body>
</html>